html {
	width: 800px;
	margin: 0 auto;
    font-family:  "Helvetica Neue", "Helvetica", "Sans-Serif";
}
#body {
	width: 500px;
	margin: 0 auto;
	padding-top: 100px;
}
#menuWrap {
	text-align: center;
}
button#newGame {
    font-size: 20px;
    border: 0;
    background-color: grey;
    color: white;
    padding: 10px 20px;
}
button#newGame:active {
	background-color: #BDBDBD;
}
#guess {
	float: left;
}
form[name="calc"] {
	display: none;
	margin: 0 auto;
}
#round {
    display: none;
}
input[value="="] {
	position: absolute;
	background-color: grey;
}
#error {
	display: none;
}